[D-BUS Service]
Name=org.webosinternals.imlibpurple
Exec=/var/usr/sbin/org.webosinternals.imlibpurpletransport -c {\"log\":{\"appender\":{\"type\":\"syslog\"},\"levels\":{\"imlibpurple\":\"info\"}}} PalmPre Palm-Pre/1.5