<div class="sametime-content">
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc=''>
			Connect Options
		</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">                    
					<div id="SametimeToggle" x-mojo-element="ToggleButton"></div>
					<div class="title capitalize" x-mojo-loc=''>
						Hide Client ID
					</div>                                                               
				</div> 
			</div>  
		</div> 
	</div>
</div>