Package: org.webosinternals.messagingallplugins
Version: 2.0.0
Architecture: i686
Maintainer: Greg Roll
Description: Messaging Plugins ALL
Section: Services and Plugins
Priority: optional
Source: http://git.webos-internals.org/?p=patches/messaging-plugins.git;a=summary
Depends: org.webosinternals.messaging
Source: {"Type":"Plugin"}
