Package: org.webosinternals.messaginggadu
Version: 2.1.0
Architecture: i686
Maintainer: Greg Roll
Description: Messaging Plugins Gadu Gadu
Section: Services and Plugins
Priority: optional
Source: http://git.webos-internals.org/?p=patches/messaging-plugins.git;a=summary
Depends: org.webosinternals.messagingpatch
Source: {"Type":"Plugin"}
