Package: org.webosinternals.messagingofficecommunicator
Version: 2.5.0
Architecture: i686
Maintainer: Greg Roll
Description: Messaging Plugins Office Communicator
Section: Services and Plugins
Priority: optional
Source: http://git.webos-internals.org/?p=patches/messaging-plugins.git;a=summary
Depends: org.webosinternals.messagingpatch
Source: {"Type":"Plugin"}
